<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
USER:
<div th:text="${user.getUsername()}">
    <a href="/logout"> logout</a>
</div>
COMPANY:
<div th:text="${user.getCompany().getName()}"></div>
<br/>
COMPANY ITEMS TABLE:
<table>
    <tr>
        <th>ITEM NAME</th>
        <th>QUANTITY</th>
        <th>ACTIONS</th>
    </tr>
    <tr th:each="item: ${user.getCompany().getItems()}">
        <td th:text="${item.getName()}" />
        <td th:text="${item.getQuantity()}" />
    </tr>
</table>
</body>
</html>